<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="userService" class="com.dyh.service.UserServiceImpl"/>
    <bean id="beforeLog" class="com.dyh.log.BeforeLog"/>
    <bean id="afterLog" class="com.dyh.log.AfterLog"/>

    <!--&lt;!&ndash;方式一： 使用原生的Spring Api接口&ndash;&gt;-->
    <!--&lt;!&ndash;配置aop&ndash;&gt;-->
    <!--<aop:config>-->
    <!--    &lt;!&ndash;定义切入点&ndash;&gt;-->
    <!--    <aop:pointcut id="pointcut" expression="execution(* com.dyh.service.UserServiceImpl.*(..))"/>-->

    <!--    &lt;!&ndash;执行环绕增强&ndash;&gt;-->
    <!--    <aop:advisor advice-ref="beforeLog" pointcut-ref="pointcut"/>-->
    <!--    <aop:advisor advice-ref="afterLog" pointcut-ref="pointcut"/>-->
    <!--</aop:config>-->


    <!--&lt;!&ndash;方式二：自定义类&ndash;&gt;-->
    <!--<bean id="myProxy" class="com.dyh.utils.MyProxy"/>-->
    <!--<aop:config>-->
    <!--    &lt;!&ndash;自定义切面 ref到引用的类&ndash;&gt;-->
    <!--    <aop:aspect ref="myProxy">-->
    <!--        &lt;!&ndash;切入点&ndash;&gt;-->
    <!--        <aop:pointcut id="point" expression="execution(* com.dyh.service.UserServiceImpl.*(..))"/>-->
    <!--        &lt;!&ndash;通知&ndash;&gt;-->
    <!--        <aop:before method="before" pointcut-ref="point"/>-->
    <!--        <aop:after method="after" pointcut-ref="point"/>-->
    <!--    </aop:aspect>-->
    <!--</aop:config>-->

    <!--方式三 注解实现-->
    <bean id="annotationPointCut" class="com.dyh.utils.AnnotationPointCut"/>
    <aop:aspectj-autoproxy/>
</beans>