<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user" class="com.dyh.pojo.User">
        <!--默认使用 无参-->
        <!--<property name="name" value="dyh"/>-->

        <!--有参构造注册bean 方式1-->
        <!--<constructor-arg index="0" value="User's args constructor"/>-->

        <!--有参构造注册bean 方式2-->
        <constructor-arg name="name" value="User's args constructor"/>
    </bean>

    <bean id="userT" class="com.dyh.pojo.UserT">
    </bean>


</beans>